<a href="https://colab.research.google.com/github/medappsau/MetronidazolePrescribing/blob/master/Metronidazole_SBIR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import statsmodels.stats.api as sm 
import pandas as pd
from google.colab import files
import numpy as np
from statsmodels.stats.weightstats import DescrStatsW as smstat

In [0]:
#upload the dataset

df = pd.read_csv("/content/Metronidazole dataframe.csv")

In [9]:
#examining the dataset
df.head()

         Date  Pre or Post Project Product Form  Product Use
0  2018-02-28                    0  Iv infusion            3
1  2018-03-01                    0  Iv infusion            2
2  2018-03-01                    0      Tablets            1
3  2018-03-02                    0  Iv infusion            3
4  2018-03-02                    0      Tablets            1

In [10]:
#examining the dataset
df.columns

Index(['Date', 'Pre or Post Project', 'Product Form', 'Product Use'], dtype='object')

In [11]:
#create dataframe of 'oralpre' to just include oral pre project
oralpre = df.loc[(df['Pre or Post Project'] == 0)]
oralpre = oralpre.loc[(oralpre['Product Form']== 'Tablets')]

#Add in missing dates with 0 product Tablet use
oralpre['Date'] = pd.to_datetime(oralpre['Date'])
oralpre.sort_values(by='Date')
oralpre = (oralpre.set_index('Date')
       .reindex(pd.date_range(oralpre['Date'].min(), oralpre['Date'].max()), fill_value=0)
       .reset_index())

#Sum product use for each day
oralpre.groupby(['index'])['Product Use'].agg('sum')
oralpre['Product Form'].replace(to_replace=0, value = 'Tablets', inplace= True)

#save new dataframe as CSV
oralpre.to_csv('oralpre.csv')

#view new dataframe
oralpre

         index  Pre or Post Project Product Form  Product Use
0   2018-03-01                    0      Tablets            1
1   2018-03-02                    0      Tablets            1
2   2018-03-03                    0      Tablets            0
3   2018-03-04                    0      Tablets            2
4   2018-03-05                    0      Tablets            1
..         ...                  ...          ...          ...
249 2018-11-05                    0      Tablets            0
250 2018-11-06                    0      Tablets            0
251 2018-11-07                    0      Tablets            2
252 2018-11-08                    0      Tablets            0
253 2018-11-09                    0      Tablets            2

[254 rows x 4 columns]

In [12]:
#create dataframe of 'oralpost' to just include oral post project
oralpost = df.loc[(df['Pre or Post Project'] == 1)]
oralpost = oralpost.loc[(oralpost['Product Form']== 'Tablets')]

#Add in missing dates with 0 product Tablet use
oralpost['Date'] = pd.to_datetime(oralpost['Date'])
oralpost.sort_values(by='Date')
oralpost = (oralpost.set_index('Date')
       .reindex(pd.date_range(oralpost['Date'].min(), oralpost['Date'].max()), fill_value=0)
       .reset_index())
oralpost['Pre or Post Project'].replace(to_replace=0, value = 1, inplace= True)
oralpost['Product Form'].replace(to_replace=0, value = 'Tablets', inplace= True)

#Sum product use for each day
oralpost.groupby(['index'])['Product Use'].agg('sum')

#Save new dataframe as CSV
oralpost.to_csv('oralpost.csv')

#View new dataframe
oralpost

         index  Pre or Post Project Product Form  Product Use
0   2018-11-13                    1      Tablets            1
1   2018-11-14                    1      Tablets            0
2   2018-11-15                    1      Tablets            0
3   2018-11-16                    1      Tablets            0
4   2018-11-17                    1      Tablets            0
..         ...                  ...          ...          ...
150 2019-04-12                    1      Tablets            0
151 2019-04-13                    1      Tablets            0
152 2019-04-14                    1      Tablets            0
153 2019-04-15                    1      Tablets            3
154 2019-04-16                    1      Tablets            1

[155 rows x 4 columns]

In [13]:
#create dataframe of 'ivpre' to just include iv pre project
ivpre = df.loc[(df['Pre or Post Project'] == 0)]
ivpre = ivpre.loc[(ivpre['Product Form']== 'Iv infusion')]

#Add in missing dates with 0 product Infusion use
ivpre['Date'] = pd.to_datetime(ivpre['Date'])
ivpre.sort_values(by='Date')
ivpre = (ivpre.set_index('Date')
       .reindex(pd.date_range(ivpre['Date'].min(), ivpre['Date'].max()), fill_value=0)
       .reset_index())
ivpre['Product Form'].replace(to_replace=0, value = 'Iv infusion', inplace= True)

#Sum product use for each day
ivpre.groupby(['index'])['Product Use'].agg('sum')

#Save new dataframe as CSV
ivpre.to_csv('ivpre.csv')

#View newe dataframe
ivpre

         index  Pre or Post Project Product Form  Product Use
0   2018-02-28                    0  Iv infusion            3
1   2018-03-01                    0  Iv infusion            2
2   2018-03-02                    0  Iv infusion            3
3   2018-03-03                    0  Iv infusion            5
4   2018-03-04                    0  Iv infusion            2
..         ...                  ...          ...          ...
251 2018-11-06                    0  Iv infusion            2
252 2018-11-07                    0  Iv infusion           12
253 2018-11-08                    0  Iv infusion            4
254 2018-11-09                    0  Iv infusion            8
255 2018-11-10                    0  Iv infusion            6

[256 rows x 4 columns]

In [14]:
#create dataframe of 'ivpost' to just include iv post project
ivpost = df.loc[(df['Pre or Post Project'] == 1)]
ivpost = ivpost.loc[(ivpost['Product Form']== 'Iv infusion')]

#Add in missing dates with 0 product Infusion use
ivpost['Date'] = pd.to_datetime(ivpost['Date'])
ivpost.sort_values(by='Date')
ivpost = (ivpost.set_index('Date')
       .reindex(pd.date_range(ivpost['Date'].min(), ivpost['Date'].max()), fill_value=0)
       .reset_index())
ivpost['Product Form'].replace(to_replace=0, value = 'Iv infusion', inplace= True)
ivpost['Pre or Post Project'].replace(to_replace=0, value = 1, inplace= True)

#Sum product use for each day
ivpost.groupby(['index'])['Product Use'].agg('sum')

#Save new dataframe as CSV
ivpost.to_csv('ivpost.csv')

#View new dataframe
ivpost

         index  Pre or Post Project Product Form  Product Use
0   2018-11-11                    1  Iv infusion            2
1   2018-11-12                    1  Iv infusion            4
2   2018-11-13                    1  Iv infusion            5
3   2018-11-14                    1  Iv infusion            3
4   2018-11-15                    1  Iv infusion            5
..         ...                  ...          ...          ...
157 2019-04-17                    1  Iv infusion            6
158 2019-04-18                    1  Iv infusion            4
159 2019-04-19                    1  Iv infusion            2
160 2019-04-20                    1  Iv infusion            3
161 2019-04-21                    1  Iv infusion            6

[162 rows x 4 columns]

In [33]:
#Two Sample One sided T-test on oral Metronidazole use to give test statistic, p-value and degrees of freedom
sm.ttest_ind(oralpre['Product Use'], oralpost['Product Use'], alternative = 'smaller', usevar='unequal', value =0)

(-1.4944601858881617, 0.06807715336504322, 286.92694104782646)

In [34]:
#Two Sample One sided T-test on IV Metronidazole use to give test statistic, p-value and degrees of freedom
sm.ttest_ind(ivpre['Product Use'], ivpost['Product Use'], alternative = 'larger', usevar='unequal', value =0)

(1.7376022842143473, 0.0415141688213889, 411.90109761110773)

In [35]:
#Calculate oral sample summary statistics
oralpremean = np.mean(oralpre['Product Use'])
oralpostmean = np.mean(oralpost['Product Use'])

oralmeandiff = oralpostmean - oralpremean

oralprestd = np.std(oralpre['Product Use'])
oralpoststd = np.std(oralpost['Product Use'])

oralprese = oralprestd/np.sqrt(len(oralpre))
oralprese

oralpostse = oralpoststd/np.sqrt(len(oralpost))
oralpostse

0.08612827227856328

In [36]:
#Calculate unpooled standard error for oral

oraldiffse = np.sqrt(oralprestd**2/len(oralpre) + oralpoststd**2/len(oralpost))

oraldiffse

0.103568139523205

In [37]:
#Calculate degrees of freedom and one sided ttest value for oral

dof = len(oralpre)+len(oralpost)-2
dof

from scipy.stats import t
t_val = t.ppf([0.95], dof)

t_val

array([1.64860612])

In [39]:
#Calculate one-sided 95% CI for mean difference in oral prescribing

lcio = oralmeandiff - t_val*oraldiffse

ucio = oralmeandiff + t_val*oraldiffse


print('95% CI for Change in Oral Prescribing', lcio, ucio)

95% CI for Change in Oral Prescribing [-0.01552336] [0.32596278]

In [24]:
#Calculate IV sample summary statistics

ivpremean = np.mean(ivpre['Product Use'])
ivpostmean = np.mean(ivpost['Product Use'])

ivmeandiff = ivpostmean - ivpremean

ivmeandiff

-0.35088734567901225

In [25]:
#Calculate IV sample summary statistics

ivprestd = np.std(ivpre['Product Use'])
ivpoststd = np.std(ivpost['Product Use'])

ivprese = ivprestd/np.sqrt(len(ivpre))
ivprese

ivpostse = ivpoststd/np.sqrt(len(ivpost))
ivpostse

0.1328679351915918

In [26]:
#Calculate unpooled standard error for IV

ivdiffse = np.sqrt(ivprestd**2/len(ivpre) + ivpoststd**2/len(ivpost))
ivdiffse

0.20144295742012644

In [27]:
#Calculate degrees of freedom and one sided ttest value for IV

dif = len(ivpre)+len(ivpost)-2
dif

from scipy.stats import t
t_vali = t.ppf([0.95], dif)

t_vali

array([1.64852475])

In [40]:
#Calculate one-sided 95% CI for mean difference in oral prescribing

lcii = ivmeandiff - t_vali*ivdiffse

ucii = ivmeandiff + t_vali*ivdiffse

print ('95% CI for change in IV prescribing', lcii, ucii)

95% CI for change in IV prescribing [-0.68297105] [-0.01880364]

In [41]:
print('Mean Tablets prescribed pre Campaign', oralpremean)

Mean Tablets prescribed pre Campaign 0.515748031496063

In [42]:
print('Mean Tablets prescribed post Campaign', oralpostmean)

Mean Tablets prescribed post Campaign 0.6709677419354839

In [43]:
print('Mean Infusions prescribed pre Campaign', ivpremean)

Mean Infusions prescribed pre Campaign 3.671875

In [44]:
print('Mean Infusions prescribed post Campaign', ivpostmean)

Mean Infusions prescribed post Campaign 3.3209876543209877

In [45]:
tabdiff = oralpostmean - oralpremean
ivdiff = ivpostmean - ivpremean

print('Tablets change', tabdiff)
print('Infusions change', ivdiff)

Tablets change 0.15521971043942095
Infusions change -0.35088734567901225